


<div class="container">
    <span class="shoppingMessage">
        <p class="child1">
            Your shopping cart is empty.
        </p>
        <p class="child2">
            Discover the <a asp-controller="Everything" asp-action="ShowAllStocks">most popular items</a> available or browse our <a>hottest new items</a>
        </p>
    </span>
</div>



@section Scripts {
    <link href="~/css/ShoppingCart.css" rel="stylesheet" type="text/css"/>
}