<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopForEverything</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopForEverything.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/f830783f12.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/sketchy.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" asp-controller="Home" asp-action="Index">Ala-bala
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Everything" asp-action="ShowAllStocks">Everything</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="ExchangeStock" asp-action="HomePageExchangeStock">Exchange stocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="EverythingFree" asp-action="HomePageEverythingFree">Everything Free</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Info</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">about shop</a>
            <a class="dropdown-item" href="#">about Everything</a>
            <a class="dropdown-item" href="#">contacts</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
        <partial name="_LoginPartial" />
      
    </div>
  </div>
</nav>
<div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
</div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ShopForEverything - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
