@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Everything" asp-action="MyStocks"><i class="fa-brands fa-stack-overflow"></i> MyStocks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Everything" asp-action="Favorite" asp-route-id="id"> <i class="fa-solid fa-heart-pulse"></i> Favorite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Everything" asp-action="AddStock"> <i class="fa-solid fa-plus"></i> AddStock</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">Logout</button>
        </form>
    </li>
    <li>
        <a asp-controller="Everything" asp-action="Bag"><i class="fa-solid fa-bag-shopping fa-2x" style="color: blue"></i></a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
